body
	{
	font-size:106%;
	}

html>body
	{
	font-size: 17px; 
	}

/*-----------------------------------------*/
/*-- RESET --------------------------------*/
/*-----------------------------------------*/

header .blogInfo,
.tagContent nav ul li,
header .tagContent,
.postContent,
.photo figcaption,
.photoset figcaption,
.chat .dateContent,
.chat .postContent ul,
.text .postContent blockquote,
.chat .postContent b,
.photo .postContent figure figcaption blockquote p:last-child,
body,
.dateContent p,
header nav,
.dateContent,
.wrap,
.fig,
.results,
.photo .dateContent,
.text .postContent blockquote,
.tagContent nav ul,
.photo .postContent figure figcaption p
	{
	padding:0;
	}

body,
.results,
.text img,
.blend,
.text, 
.photo, 
.chat, 
.link, 
.audio, 
.video,
.quote,
.wrap,
.blendInfo,
.text .dateContent,
.chat .dateContent, 
.link .dateContent, 
.audio .dateContent, 
.video .dateContent, 
.quote .dateContent,
.photo .dateContent,
.chat .postContent b,
.text .postContent blockquote,
.tagContent nav ul li,
.tagContent nav ul{
	margin: 0;
	}

.mainContent .chat .postContent ul,
.photo .postContent figure figcaption blockquote,
.photoset .postContent figure figcaption blockquote,
.text .postContent figure figcaption blockquote,
.link .postContent figure figcaption blockquote,
.video .postContent figure figcaption blockquote
	{
	margin-left:0;
	}

/*-----------------------------------------*/
/*-- TYPE ------------------------------*/
/*-----------------------------------------*/

h1{
	font-size: 3.6em;
	line-height: 0.89em;
	letter-spacing: -0.05em;
	margin-left: -0.05em;
	margin: 0.42em 0 0 0;
	width:auto;
	}

h2 {
	padding: 0 0 0.7em;
	padding: 0.15em 0 0.4em;
	font-size: 1.3em;
	letter-spacing: 0;
	margin: 0 -0.04em;
	line-height: 1.3em;
	}

h3 {
	font-size:1.4em;
	letter-spacing:-0.04em;
	}

/*-----------------------------------------*/

h1, 
h2, 
h3,
blockquote,
.link,
.btnNav,
.btnTask,
.results p,
.chat .postContent li,
.text .postContent p,
.link .postContent p,
.audio .postContent p,
.postContent li,
.postLink a,
.postContent figure figcaption,
.quote .postContent figure blockquote,
.quote .postContent figure blockquote figcaption p,
.quote .postContent figure blockquote figcaption a
	{
	font-family: "Georgia Pro", Georgia, sans-serif;
	font-style: normal;
	font-weight: normal;
	}


/*-- POINT SIZE --------------------------*/


header .blogInfo p{
	font-size:0.8em;
	}

.chat b,
footer .postContent p,
.dateContent p, 
.dateContent time,
.tagContent li{
	font-size:0.65em;
	}

header .tagContent li{
	font-size:0.85em;
	}	

.hangout,
.audio .postContent p,
.link_og_blockquote,
.quote .postContent p,
.text .postContent p,
.text .postContent li,
.link .postContent p,
.photo .postContent p,
.quote .postContent figcaption,
.results p
	{
	font-size:1rem;
	}

.chat .postContent li
	{
	font-size:1.35rem;
	}

.btnNav a{
	font-size: 2.5em;
	}

 header .postContent .about p,
.tagContent li,
.postContent p,
.postContent li,
.postContent blockquote,
.postContent blockquote p,
.postContent figure figcaption,
.postContent figure figcaption p, 
.postContent figure figcaption div, 
.copyright
	{
	line-height: 1.45em;
	}


.dateContent .reblog,
.dateContent time,
.dateContent p,
.tagContent nav ul li:first-child{
	text-align: left;
	}

.tagContent nav ul li:last-child{
	text-align: right;
	}

.tagContent nav ul li{
	text-align: center;
	}	

footer .postContent .pPrevious
	{
	text-indent:0em
	}


/*---------------------------*/

footer .postContent p,
footer .postContent a,
footer .postContent a:link,
footer .postContent a:visited,
footer small,
footer li,
footer li a
	{
	color: #fffff9;
	}

.blogInfo p{
	color: #fffff9;
	}	

.blogInfo{
	background-color: #20531a;
	}

.tagContent nav ul{
	background-color: blue;
	}

footer .postContent{
	background-color: #184b12;;
	}	

.mainContent .quote .tagContent{
	background-color: red;
	}

.legals a:hover{
	border-bottom:1px solid white;
	}

/*---------------------------*/

header .dateContent,
footer .dateContent,
.tagContent
	{
	display:none;
	}

.postContent,
.text .dateContent,
.chat .dateContent, 
.link .dateContent, 
.audio .dateContent, 
.video .dateContent, 
.quote .dateContent,
.photo .dateContent,
.blend,
.blendInfo,
.btnReblog,
.quote .postContent,
.link .postContent,
.audio .postContent,
.text .postContent,
.tagContent nav ul,
.text, 
.photo, 
.chat, 
.link, 
.audio, 
.video, 
.quote,
.text .postContent blockquote,
header .tagContent,
.about,
.dateContent
	{
	display: block;
	}

.hangout,
.dateContent .reblog,
.tagContent nav ul li,
.dateContent time{
	display: inline;
	}

.dateContent time,
.dateContent .reblog
	{
	clear: none;
	}

.tagContent nav ul li,
.dateContent p,
.dateContent time,
.dateContent .reblog,
.hangout,
.postInfo
	{
	float: left;
	}

.about,
.blend
	{
	float: none;
	}

.results,
.postContent,
.dateContent,
.video iframe, 
.html_photoset, 
.photo .postContent img,
.text img,
.tagContent,
.tagContent nav ul{
	width: 100%;
	}	

.photo figure figcaption, 
.photoset figure figcaption,
.video figure figcaption, 
.quote figure figcaption {
	max-width: 100%;
	}

.tagContent nav ul li{
	width: 33.33%;
	}



/*---------------------------*/
.postContent
	{
	border-bottom: 1px solid #20531a;
	border-left: none;
	border-right: none;
	}

header .tagContent
	{
	border-bottom: 1px solid #20531a;
	}

.text img, 
.video iframe, 
.html_photoset, 
.photo .postContent img,
header .postContent
	{
	border-left:none;
	}



/*-- MARGIN -------------------------------*/


/* Left padding */

h2,
header .postContent h1,
header .about p,
footer .legals,
.dateContent time,
.dateContent .reblog,
.tagContent ul,
.tagContent nav,
.tagContent nav ul li,
.chat .postContent li,
.quote .postContent figure blockquote,
.quote .postContent figure figcaption,
.postContent figure figcaption blockquote,
.photo .postContent figure figcaption blockquote div,
.photo .postContent figure figcaption blockquote p,
.photo .postContent figure figcaption div,
.postContent blockquote div,
.photo figure figcaption,
.link .postContent p,
.link .postContent ul,
.link .postContent ol,
.link .postContent p .tumblr_blog a,
.chat .postContent p,
.chat .postContent ul,
.text .postContent p,
.text .postContent ul, 
.text .postContent ol,
.audio .postContent p,
.audio .postContent ul, 
.audio .postContent ol,
.video figcaption,
.about p,
.results p,
.reblog_button,
.followBtn,
.btnNav a
	{
	padding-left:20px;
	padding-right:20px;
	}


.blend{
	padding-left: 20px;
	}

.postContent blockquote {
	padding-right:20px;
	}

.quote figure blockquote {
	padding-right: 30px;
	}

.mainContent .postContent ul{
	margin-left: 30px;
	}

.link_og_blockquote {
	margin-top: 6px;
	margin-left: 33px;
	}

.quote .postContent,
.link .postContent,
.audio .postContent,
.text .postContent{
	padding: 0 0 30px 0;
	}

.mainContent .chat .postContent,
.mainContent .link .postContent,
.mainContent .text .postContent,
.mainContent .audio .postContent
	{
	margin-top: 10px;
	}

.postContent {
	padding: 0 0 30px 0;
	}

.lArrow {
	padding:0 0.4em 0 0.6em;
	}

.rArrow {
	padding:0 0 0 0.4em;
	}

.hangout {
	padding: 0.1em 0 0 0.1em;
	margin-left: -0.37em;
	font-size: 1.8em;
	float: left;
	}

.quoteDouble{
	display:none;
	}

.quoteSingle{
	display:inline;
	}


.quote .postContent figure blockquote {
	font-size: 1.8em;
	line-height: 1.12em;
	letter-spacing: -0.035em;
	margin-top: 0.4em;
	}

.text .dateContent,
.chat .dateContent, 
.link .dateContent, 
.audio .dateContent, 
.video .dateContent, 
.quote .dateContent,
.photo .dateContent
	{
	padding:6px 0 15px 0;
	}

.photo figcaption, .photoset figcaption {
	padding-top: 0.25em;
	}


header .about p{
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

.dateContent .reblog {
	padding-top: 0.1em;
	}


.text .postContent img {
	margin: 1.3em 0 0em;
	}


footer .postContent {
	padding-top: 1.3em;
	padding-bottom: 1em;
	}

.postLink::before {
	margin-left: -21px;
	padding: 0 8px 0 0;
	}

.about{
	padding:0;
	}

.dateContent, .tagContent {
	min-height: 0px;
	}

.results{
	padding-top: 0.8em;
	padding-bottom:2em;
	}

footer .legals{
	width: 60%;
	}
.blend{
	float: left;
	}

.blendInfo {
	display: none;
	}

.reblog_button,
.followBtn{
	float: right;
	margin-top: 20px;
	margin-left: 0;
	margin-bottom: 40px;
	}

header .postContent {
	margin-bottom: 0;
	}
.mainContent{
	margin:0;
	}

.lArrow,
.rArrow {
	padding: 0;
	}

.mainContent .postContent p, 
.photo .postContent figure figcaption p, 
.photo .postContent figure figcaption div,
.video .postContent figure figcaption p, 
.video .postContent figure figcaption div{
	padding-top: 0.8em;
	}


/* IN DEVELOPMENT */

.postInfo{
	float:left;
	}

.logo{
	padding-left: 20px;
	margin-top: 30px;
	width: 138px;
	height: 98px;
	}

header .postContent {
	padding: 0 0 20px 0;
	}

header .blogInfo p{
	font-size: 0.68em;
		letter-spacing: 0.2em;
		padding-top: 0.5em;

}

footer .legals .italic{
	font-size: 0.8em;
	}

.logomark{
	margin-top: 35px;
	margin-left:15px;
	width:162px;
	height:108px;
	}

header .blogInfo .italic{
	font-size: 0.8em;
	}



.audio .postContent p, 
.text .postContent p, 
.link .postContent p, 
.quote .postContent figure figcaption, 
.photo .postContent figure figcaption p, 
.photo .postContent figure figcaption div, 
.video .postContent figure figcaption p, 
.video .postContent figure figcaption div {
	width: auto;
}

.photo .postContent figure figcaption blockquote{
	margin-right: 0;
	padding-right: 0;
}

.link .postContent blockquote{
padding: 0;
margin-left: 20px;
margin-right: 0;
	}


.blogInfo .italic {
	padding-right: 0.25em;
	padding-left: 0.12em;
	letter-spacing: 0.15em;
}


.fig{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	}

header .postContent h1{
	margin-left: -0.06em;
	}

	