body
{
	font-size:106%;
}

html>body
{
	font-size: 17px; 
}

/*-----------------------------------------*/
/*-- RESET --------------------------------*/
/*-----------------------------------------*/

body,
.results,
<<<<<<< HEAD
.text img,
=======
>>>>>>> c27bb9415d28409d25c9d3c6edb174d073d4eb34
.blend,
.text, 
.photo, 
.chat, 
.link, 
.audio, 
.video,
.quote,
.wrap,
<<<<<<< HEAD
.blendInfo,
=======
.blendInfo
/*,
>>>>>>> c27bb9415d28409d25c9d3c6edb174d073d4eb34
.tagContent nav ul li,
.tagContent nav ul
*/{
	margin: 0;
<<<<<<< HEAD
	}
=======
}
>>>>>>> c27bb9415d28409d25c9d3c6edb174d073d4eb34

/*-----------------------------------------*/
/*-- TYPE ------------------------------*/
/*-----------------------------------------*/

h1 {
	font-size: 3.6em;
	line-height: 0.89em;
	letter-spacing: -0.05em;
	margin-left: -0.05em;
<<<<<<< HEAD
	margin: 0.42em 0 0 0;
	width:auto;
	}

=======
	margin: 0.3em 0 0 0;
	width: auto;
}
>>>>>>> c27bb9415d28409d25c9d3c6edb174d073d4eb34
h2 {
	padding: 0 0 0.7em;
	padding: 0.15em 0 0.4em;
	font-size: 1.3em;
	letter-spacing: 0;
	margin: 0 -0.04em;
	line-height: 1.3em;
}

h3 {
	font-size:1.4em;
	letter-spacing:-0.04em;
}

/*-----------------------------------------*/
/*
h1, 
h2, 
h3,
blockquote,
.link,
.btnNav,
.btnTask,
.results p,
.chat .postContent li,
.text .postContent p,
.link .postContent p,
.audio .postContent p,
.postContent li,
.postLink a,
.postContent figure figcaption,
.quote .postContent figure blockquote,
.quote .postContent figure blockquote figcaption p,
.quote .postContent figure blockquote figcaption a
{
	font-family: "Georgia Pro", Georgia, sans-serif;
	font-style: normal;
	font-weight: normal;
}

*/
/*-- POINT SIZE --------------------------*/

/*
header .blogInfo p{
	font-size:0.8em;
}

header .blogInfo p{
	font-size:0.8em;
	}

.chat b,
footer .postContent p,
.dateContent p, 
.dateContent time,
.tagContent li{
	font-size:0.65em;
}

*/
/*
header .tagContent li{
font-size:0.85em;
}	
*/

.hangout,
.audio .postContent p,
.link_og_blockquote,
.quote .postContent p,
.text .postContent p,
.text .postContent li,
.link .postContent p,
.photo .postContent p,
.quote .postContent figcaption,
.results p
<<<<<<< HEAD
	{
	font-size:1rem;
	}
=======
{
	font-size:1rem;
}
>>>>>>> c27bb9415d28409d25c9d3c6edb174d073d4eb34

.chat .postContent li
{
	font-size:1.35rem;
}



header .postContent .about p,
.tagContent li,
.postContent p,
.postContent li,
.postContent blockquote,
.postContent blockquote p,
.postContent figure figcaption,
.postContent figure figcaption p, 
.postContent figure figcaption div, 
<<<<<<< HEAD
.copyright,
.link_og_blockquote
	{
=======
.link_og_blockquote
{
>>>>>>> c27bb9415d28409d25c9d3c6edb174d073d4eb34
	line-height: 1.5em;
}


.dateContent .reblog,
.dateContent time,
.dateContent p{
	text-align: left;
}
/*

.tagContent nav ul li:last-child{
text-align: right;
}

.tagContent nav ul li{
text-align: center;
}	

*/

footer .postContent .pPrevious
{
	text-indent:0em
}


/*---------------------------*/

footer .postContent p,
footer .postContent a,
footer .postContent a:link,
footer .postContent a:visited,
.btnNav a,
footer small
{
	color: #fffff9;
}

.blogInfo p{
	color: #fffff9;
}	


/*
.tagContent nav ul{
background-color: blue;
}
*/
.blogInfo,
footer .postContent{
	background-color: #184b12;;
<<<<<<< HEAD
	}	
=======
}	
>>>>>>> c27bb9415d28409d25c9d3c6edb174d073d4eb34

.mainContent .quote .tagContent{
	background-color: red;
}

.legals a:hover{
	border-bottom:1px solid white;
}

/*---------------------------*/

header .dateContent,
footer .dateContent,
.tagContent
{
	display:none;
}

.postContent,
.text .dateContent,
.chat .dateContent, 
.link .dateContent, 
.audio .dateContent, 
.video .dateContent, 
.quote .dateContent,
.photo .dateContent,
.blend,
.blendInfo,
.quote .postContent,
.link .postContent,
.audio .postContent,
.text .postContent,
.text, 
.photo, 
.chat, 
.link, 
.audio, 
.video, 
.quote,
.text .postContent blockquote,
header .tagContent,
.about,
.dateContent
{
	display: block;
}

.hangout,
.dateContent .reblog,
<<<<<<< HEAD
.tagContent nav ul li,
=======
>>>>>>> c27bb9415d28409d25c9d3c6edb174d073d4eb34
.dateContent time{
	display: inline;
}

.dateContent time{
	clear: none;
<<<<<<< HEAD
	}
.dateContent .reblog
	{
	clear: left;
	}
=======
}
.dateContent .reblog
{
	clear: left;
}
>>>>>>> c27bb9415d28409d25c9d3c6edb174d073d4eb34

.dateContent p,
.dateContent time,
.dateContent .reblog,
.hangout,
.postInfo
{
	float: left;
}

.about,
.blend
{
	float: none;
}

.vidWrap,
.results,
.postContent,
.dateContent,
.video iframe, 
.html_photoset, 
.photo .postContent img,
.text img,
.tagContent{
	width: 100%;
}	

.photo figure figcaption, 
.photoset figure figcaption,
.video figure figcaption, 
.quote figure figcaption {
	max-width: 100%;
}

/*
.tagContent nav ul li{
width: 33.33%;
}
*/


/*---------------------------*/
.postContent
{
	border-bottom: 1px solid #20531a;
	border-left: none;
	border-right: none;
}

header .tagContent
{
	border-bottom: 1px solid #20531a;
}

.text img, 
.video iframe, 
.html_photoset, 
.photo .postContent img,
header .postContent
{
	border-left:none;
<<<<<<< HEAD
	}


=======
}

/*
>>>>>>> c27bb9415d28409d25c9d3c6edb174d073d4eb34
.mainContent .postContent ul{
margin-left: 30px;
}
*/

<<<<<<< HEAD

=======
>>>>>>> c27bb9415d28409d25c9d3c6edb174d073d4eb34

.quote .postContent,
.link .postContent,
.audio .postContent,
.text .postContent{
	padding: 0 0 30px 0;
<<<<<<< HEAD
	}
=======
}
>>>>>>> c27bb9415d28409d25c9d3c6edb174d073d4eb34

.mainContent .chat .postContent,
.mainContent .link .postContent,
.mainContent .text .postContent,
.mainContent .audio .postContent
<<<<<<< HEAD
	{
	margin-top: 0.5em;
	}
=======
{
	margin-top: 0.5em;
}
>>>>>>> c27bb9415d28409d25c9d3c6edb174d073d4eb34

.postContent {
	padding: 0 0 30px 0;
}

.lArrow {
	padding:0 0.4em 0 0.6em;
}

.rArrow {
	padding:0 0 0 0.4em;
}

/* Hanging punctuation */

.medium .hangout,
.short .hangout,
.long .hangout {
	padding: 0.1em 0 0 0.1em;
	margin-left: -0.37em;
	font-size: 1.8em;
	float: left;
}

.quoteDouble{
	display:none;
}

.quoteSingle{
	display:inline;
}


.quoteDouble{
	display:none;
	}

.quoteSingle{
	display:inline;
	}


.quote .postContent figure blockquote {
	font-size: 1.8em;
	line-height: 1.12em;
	letter-spacing: -0.035em;
	margin-top: 0.4em;
}

.text .dateContent,
.chat .dateContent, 
.link .dateContent, 
.audio .dateContent, 
.video .dateContent, 
.quote .dateContent,
.photo .dateContent
{
	padding:6px 0 15px 0;
}

.photo figcaption, 
.photoset figcaption
{
	padding-top: 0.25em;
}


header .about p{
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	margin-left: 0;
}


.text .postContent img {
	margin: 1.3em 0 0em;
}


footer .postContent {
	padding-top: 1.3em;
	padding-bottom: 1em;
}

/*
.postLink::before {
margin-left: -21px;
padding: 0 8px 0 0;
}
*/


.quote .postContent figure figcaption::before {
	margin-left: -8%;
	font-size: 1em;
	padding: 0 0.45em 0 0;
	float: left;
}

.postLink::before {
	font-size: 0.9em;
	margin-left: -8%;
	padding: 0;
	float: left;
}

<<<<<<< HEAD
.btnNav p,
.about{
	padding:0;
	}
=======

.btnNav p,
.about{
	padding:0;
}
>>>>>>> c27bb9415d28409d25c9d3c6edb174d073d4eb34

.dateContent, .tagContent {
	min-height: 0px;
}

.results{
	padding-top: 0.8em;
	padding-bottom:2em;
<<<<<<< HEAD
	}

footer .legals{
	width: 60%;
	}
=======
}

/*
footer .legals{
width: 60%;
}
*/

>>>>>>> c27bb9415d28409d25c9d3c6edb174d073d4eb34
.blend{
	float: left;
}

.blendInfo {
	display: none;
<<<<<<< HEAD
	}
=======
}
>>>>>>> c27bb9415d28409d25c9d3c6edb174d073d4eb34

.reblog_button,
.followBtn{
	float: right;
	margin-top: 20px;
	margin-left: 0;
	margin-bottom: 40px;
}

header .postContent {
	margin-bottom: 0;
}
.mainContent{
	margin:0;
<<<<<<< HEAD
	}
=======
}
>>>>>>> c27bb9415d28409d25c9d3c6edb174d073d4eb34

.lArrow,
.rArrow {
	padding: 0;
}

.mainContent .postContent p, 
.photo .postContent figure figcaption p, 
.photo .postContent figure figcaption div,
.video .postContent figure figcaption p, 
.video .postContent figure figcaption div{
	padding-top: 0.8em;
}

.postInfo{
	float:left;
}

/*
.logo{
padding-left: 20px;
margin-top: 30px;
width: 138px;
height: 98px;
}
*/

header .postContent {
	padding: 0 0 20px 0;
}


/*
header .blogInfo p{
font-size: 0.68em;
letter-spacing: 0.2em;
padding-top: 0.5em;

}
*/

footer .legals .italic{
	font-size: 0.8em;
}


header .blogInfo .italic{
	font-size: 0.8em;
}



.audio .postContent p, 
.text .postContent p, 
.link .postContent p, 
.quote .postContent figure figcaption, 
.photo .postContent figure figcaption p, 
.photo .postContent figure figcaption div, 
.video .postContent figure figcaption p, 
.video .postContent figure figcaption div {
	width: auto;
}

footer{
	margin-top: 40px;
}

.post:last-child .postContent {
	border-bottom: none;
}

/*-- PADDING -------------------------------*/


.fig,
.quote .postContent figure,
.dateContent time,
header .about p,
.postContent h1,
.postContent h2,
.postContent p,
.postContent ul,
.results p,
.blend,
.reblog_button,
.postInfo,
.followBtn,
.postContent p.btnNav,
footer .legals,
.dateContent .reblog
{
/*
margin-left: 20px;
*/
margin-left: 6.75%;
}

.followBtn,
.reblog_button,
.quote .postContent figure,
.postContent h1,
.postContent h2,
.postContent p,
.postContent ul
{
/*
margin-right: 20px;
*/
margin-right: 6.75%;
}

/*

.postContent p.btnNav{
margin: 0;
}
.postContent p.btnNav{
padding: 0;
}

*/

/*
.link_og_blockquote,
.reblog_button,
.followBtn{
padding-right:20px;
}
*/

.photo .postContent blockquote,
.link_og_blockquote{
	margin-left: 10%;
	margin-top: 4px;
	padding-top: 4px;
	padding-bottom: 5px;
	padding-left: 20px;
}

/*
.audio .postContent h2, 
.text .postContent h2, 
.link .postContent h2, 
.audio .postContent p, 
.text .postContent p, 
.link .postContent p,
.quote .postContent blockquote,
.quote .postContent figure figcaption, 
.photo .postContent figure figcaption p, 
.photo .postContent figure figcaption div, 
.video .postContent figure figcaption p, 
.video .postContent figure figcaption div 
{
width: 90%;
}
*/	


/* OPTICAL HINTING */

.blogInfo .italic{
	padding-right: 0.25em;
	padding-left: 0.12em;
	letter-spacing: 0.15em;
}

.legals .italic{
	padding-right: 0.2em;
	padding-left: 0.12em;
	letter-spacing: 0.15em;
}

.fig{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.dateContent .reblog{
	margin-top: 0.15em;
}



header .postInfo p,
header .blend p{
	margin-left: 0;
/*
padding:0;
*/
}

/* BLEND INFO */


.numberSlash{
	padding-top: 0em;
	display: inline;
}
.numberSlash:before{
	content: '—';
}


.btnNav a{
	font-size: 2.5em;
	padding: 0;
}


.mainContent .postContent ul {
	padding-top: 0;
}


.reblog p{
	background-color: yellow;
	width: 100%;
}

/*
header .postContent .about{
	padding: 0.1em 0;
}
*/

header .about{
	margin-top: 0em;
}

header .postContent .about p {
	line-height: 1.14em;
}

header .blogInfo{
	font-size: 0.788em;
	}

<<<<<<< HEAD
.mainContent .postContent p, 
.photo .postContent figure figcaption p, 
.photo .postContent figure figcaption div,
.video .postContent figure figcaption p, 
.video .postContent figure figcaption div{
	padding-top: 0.8em;
	}


/* IN DEVELOPMENT */

.postInfo{
	float:left;
	}

.logo{
	padding-left: 20px;
	margin-top: 30px;
	width: 138px;
	height: 98px;
	}

header .postContent {
	padding: 0 0 20px 0;
	}

header .blogInfo p{
	font-size: 0.68em;
		letter-spacing: 0.2em;
		padding-top: 0.5em;

}

footer .legals .italic{
	font-size: 0.8em;
	}


header .blogInfo .italic{
	font-size: 0.8em;
	}



.audio .postContent p, 
.text .postContent p, 
.link .postContent p, 
.quote .postContent figure figcaption, 
.photo .postContent figure figcaption p, 
.photo .postContent figure figcaption div, 
.video .postContent figure figcaption p, 
.video .postContent figure figcaption div {
	width: auto;
=======
small, .chat b, .dateContent p, .dateContent time, .tagContent li {
font-size: 0.65em;
}


.tagContent{
	margin-left: 0;
>>>>>>> c27bb9415d28409d25c9d3c6edb174d073d4eb34
}



<<<<<<< HEAD
footer{
	margin-top: 40px;
	}

.post:last-child .postContent {
	border-bottom: none;
	}

/*-- PADDING -------------------------------*/

.fig,
.quote .postContent figure,
.dateContent time,
header .about p,
.postContent h1,
.postContent h2,
.postContent p,
.results p,
.blend,
.reblog_button,
.postInfo,
.followBtn,
footer .legals,
.dateContent .reblog
	{
		/*
	margin-left: 20px;
		*/
	margin-left: 6.5%;
	}

.followBtn,
.reblog_button,
.quote .postContent figure,
.postContent h1,
.postContent h2,
.postContent p,
.postContent ul
	{
		/*
	margin-right: 20px;
		*/
	margin-right: 6.5%;
	}


	.postContent p.btnNav{
		margin: 0;
		}
	.postContent p.btnNav{
		padding: 0;
		}

/*
.link_og_blockquote,
.reblog_button,
.followBtn{
	padding-right:20px;
	}
*/

.photo .postContent blockquote,
.link_og_blockquote{
	margin-left: 10%;
	margin-top: 4px;
	padding-top: 4px;
	padding-bottom: 5px;
	padding-left: 20px;
	}

/*
.audio .postContent h2, 
.text .postContent h2, 
.link .postContent h2, 
.audio .postContent p, 
.text .postContent p, 
.link .postContent p,
.quote .postContent blockquote,
.quote .postContent figure figcaption, 
.photo .postContent figure figcaption p, 
.photo .postContent figure figcaption div, 
.video .postContent figure figcaption p, 
.video .postContent figure figcaption div 
	{
	width: 90%;
	}
*/	


/* OPTICAL HINTING */

.blogInfo .italic{
	padding-right: 0.25em;
	padding-left: 0.12em;
	letter-spacing: 0.15em;
	}

.legals .italic{
	padding-right: 0.2em;
	padding-left: 0.12em;
	letter-spacing: 0.15em;
	}

.fig{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	}

.dateContent .reblog{
	margin-top: 0.15em;
	}



header .postInfo p,
header .blend p{
	margin-left: 0;
	/*
	padding:0;
	*/
}

/*
.blendNumber {
display: inline;
}
*/
=======
.postWord:before,
.blendWord:before{
content: "";
}

>>>>>>> c27bb9415d28409d25c9d3c6edb174d073d4eb34
