html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-- Desktop -----------------------------------------------------------*/
body
{
	background:#f5f4f0;
	margin:0 1.4%;
	font-size:106%;
}

html>body
{
	font-size: 17px; 
}


h1, h2, h3, h4, h5, h6, p, b, small, blockquote, figcaption, li, time{

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;

}

/*-----------------------------------------*/
/*-- TYPOGRAPHY ---------------------------*/
/*-----------------------------------------*/

h1, 
h2, 
h3,
blockquote,
.legal,
.smallCaps,
.legals,
.link,
.btnTask,
.reblog_button,
.followBtn p,
/*
.results p,
*/
.chat .postContent li,
.text .postContent p,
.link .postContent p,
.audio .postContent p,
.postContent li,
.postLink a,
.postContent figure figcaption,
.quote .postContent figure blockquote,
.quote .postContent figure blockquote figcaption p,
.quote .postContent figure blockquote figcaption a {
	font-family:"Georgia Pro", Georgia, "Times New Roman", serif;
	font-style:normal;
	font-weight:normal;
	}

p em,
.italic,
.photo .postContent figcaption blockquote,
.photo .postContent figcaption blockquote p,
.photo .postContent figcaption blockquote a,
.photo .postContent figure figcaption blockquote p,
.link .postContent blockquote,
.text .postContent blockquote,
.text .postContent blockquote p {
	font-family:"Georgia Pro", Georgia, "Times New Roman", serif;
	font-style: italic;
	font-weight: normal;
	/*
	-moz-font-feature-settings:"onum" 1, "pnum" 1;
	-ms-font-feature-settings:*"onum" 1,*"pnum" 1;
	-o-font-feature-settings:*"onum" 1,*"pnum" 1;
	-webkit-font-feature-settings: "onum" 1, "pnum" 1;
	-font-feature-settings: "onum" 1, "pnum" 1;
	*/
	}

/*-- NUMERALS --*/
.postContent h2,
.postContent p,
.postContent em,
.postContent blockquote div,
.link_og_blockquote
.postNumber,
.blendNumber{
	-moz-font-feature-settings:"onum" 1, "pnum" 1;
	-ms-font-feature-settings:*"onum" 1,*"pnum" 1;
	-o-font-feature-settings:*"onum" 1,*"pnum" 1;
	-webkit-font-feature-settings: "onum" 1, "pnum" 1;
	-font-feature-settings: "onum" 1, "pnum" 1;
}

strong
{
	font-family:Georgia, serif;
	font-weight:800;
}

.reblog_button,
header .about p,
/*
header .blend p,
*/
.fig,
.smallCaps,
.legals,
.page,
.followBtn p{
	font-family: "Georgia Pro SC", "Georgia Pro", sans-serif;
	font-style: normal;
	font-weight: normal;
	text-transform: lowercase;
}

/* MONO */
code,
.dateContent p,
.dateContent time,
.tagContent li,
.chat .postContent b
{
	font-family: 'Inconsolata', monospace;
}	

/* GLYPH */
.btnNav{
	font-family:Arial;
	font-weight:400;
}	

/*-- LIGATURES --*/

h1, h2, p, li, figcaption, blockquote{
	-moz-font-feature-settings:"liga=1, dlig=1"; 
	-moz-font-feature-settings:"liga", "dlig"; 
	-ms-font-feature-settings:"liga", "dlig"; 
	-o-font-feature-settings:"liga", "dlig"; 
	-webkit-font-feature-settings:"liga", "dlig"; 
	font-feature-settings:"liga", "dlig";
}



/*-- TYPE/POINT SIZE --------------------------*/

.legals .italic{
	font-size: 0.9em;
}

header .postNo .ordinal,
header .blendNo .ordinal{
	font-size: 0.75em;
}	

/*
header .blogInfo p,
header .postWord,
header .postNo,
header .blendWord,
header .blendNo{
	font-size:0.86em;
	}
*/

header .about{
	font-size:0.86em;
	}

header .about p{
	line-height: 1em;

}

.followBtn,
.reblog_button{
	font-size:0.75em;
}

/*
header .postInfo .postNumber{
	font-size: 0.75em;
}
*/
/*
header .blendNumber{
	font-size: 0.85em;
}
*/
code,
.blogInfo .italic{
	font-size: 0.8em;
}

small,
.chat b,
.dateContent p, 
.dateContent time,
.tagContent li{
	font-size:0.65em;
}

/*
.smallCaps{
	font-size:0.5em;
}
*/

.audio .postContent p,
.link_og_blockquote,
.quote .postContent p,
.text .postContent p,
.text .postContent li,
.link .postContent p,
.photo .postContent p,
.quote .postContent figcaption,
.results p
{
	font-size:1rem;
}

.chat .postContent li
{
	font-size:1.35rem;
}

.hangout {
	font-size: 1.6em;
}

/*-- LEADING  --------------------------*/

figcaption small {
	line-height: 0.5em;
}

.audioCredits{
	line-height: 1em;
}

.dateContent p,
.dateContent time {
	line-height: 1.2em;
}

.photo .postContent blockquote,
.text .postContent blockquote,
.link .postContent blockquote,
.postContent li,
code {
	line-height: 1.5em;
}	

.results p,
.tagContent li,
.postContent p,
.postContent ol,
.postContent figure figcaption,
.postContent figure figcaption p,
.postContent figure figcaption div,
.link_og_blockquote
{
	line-height:1.6em;
}

figcaption blockquote, 
blockquote b {
	line-height:1.64em
}

.mainContent .chat .postContent li
{
	line-height:1.4em
}

footer small
{
	line-height: 1.75em;
}


/*-- Kerning ------------------------------*/

header .about p,
header .tagContent li,
header .followBtn p,
.reblog_button
{
	letter-spacing:0.175em;
}

.mainContent .smallCaps
	{
	margin-left: 0.02em;
	letter-spacing:0.12em;
	}	

.dateContent time,
footer .postContent
{
	letter-spacing:0.1em;
}

header .about p
.legals {
	letter-spacing:0.15em;
}

.fig{
	letter-spacing:0.185em;	
}

.italic{
	letter-spacing:0.1em;
}

/*-- Formating ----------------------------*/
.about p,
.tagContent ul
{
	text-align: left;
}

.dateContent p,
.dateContent time
{
	text-align:right;
}

/*
.legals,
.chat b,
header .about p,
header .blend p,
footer p
	{
	}
	*/

.italic,
.post .tagContent li,
.reblog p,
.reblog a{
	text-transform:lowercase;
}

.reblog p a:link,
.SourceURL
.postContent a:link,
.dateContent p,
.reblog,
.reblog p,
.reblog a{
word-wrap:break-word;
}

.mainContent .postContent ul li{
list-style: disc;
}

.mainContent .postContent ol li{
	list-style:decimal;
}

.mainContent .chat .postContent ul li,
.mainContent .chat .postContent ol li{
	list-style: none;
	}	

	/*-- PALLETTE -------------------------------*/

	h1,
	h2,
	a,
	p,
	b,
	small,
	figcaption,
	blockquote,
	code,
	li,
	ul,
	time,
	.quote .postContent figure figcaption::before {
		color:#184b12;
	}

	::selection {
		background: #ffefef;
	}
	::-moz-selection {
		background: #ffefef;
	}

	/*-- SELECT -----------------------------*/
	header,
	.blend,
	.dateContent,
	.tagContent{

		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

	}

	/*-- LINKS  -------------------------------*/

	a:link,
	.photo .postContent figure figcaption a {
		text-decoration: none;
		border-bottom:1px solid #184b12;
	}

	h1 a:link,
	h2 a:link,
	time a:link,
	.postNumber a:link,
	.tags a:link,
	.reblog p a:link,
	.blend p a:link,
	.resultTag a:link,
	.pullQuote a:link,
	.quote blockquote a:link,
	.reblog_button:link,
	.reblog_button:hover,
	footer .btnNav a:link,
	header .postContent a:link{
		border-bottom: none;
	}

	h1 a:hover,
	a:hover,
	time a:hover,
	.tags a:hover,
	.reblog p a:hover,
	.photo .postContent figure figcaption a:hover,
	.legals a:hover{
		text-decoration: none;
		color: #131bb4;
		border-bottom:1px solid #131bb4;
	}

	.resultTag:hover{
		text-decoration:line-through;
	}

	.btnTask p a,
	.postNumber a:link,
	.resultTag a:link,
	header .postContent a:link{
		text-decoration: none;
	}

	/*-- BORDERS ------------------------------*/

	.postContent{
		border-left:solid 1px #184b12;
		border-right:solid 1px rgba(32, 83, 26, .1);	
	}

	.postContent figcaption blockquote,
	.link .postContent blockquote,
	.text .postContent blockquote
	{
		border-left: 3px solid #184b12;
	}

	.postContent code,
	.photo .postContent img,
	.tumblr_audio_player{
		border-left:solid 7px #184b12;
	}

	.photo .postContent figure a {
		border: none;
	}

	.quote .postContent	{	
		border-left:none;
		padding-left: 1px; /* accomodate for border absence */
	}

	header .postContent {
		border-right:none;
	}


	h1 {
		font-size: 4.2em;
		line-height: 0.885em;
		letter-spacing: -0.05em;
		margin-left: -0.05em;
		margin-top: 1.6em;
		width: inherit;
	}

	h2 {
		font-size: 1.65em;	
		padding: 0.1em 0 0.4em;
		margin: 0 -0.04em;
		line-height: 1.2em;
	}

	h3 {
		font-size:1.4em;
		letter-spacing:-0.04em;
	}


	/*-- WIDTH ---------------------------*/

	.wrap{
		max-width: 1000px;
	}

	.mainContent .postContent img{
		max-width: 100%;
	}
	.video iframe,
	.photo figure{
		max-width: 100%;
	}
	footer, 
	.mainContent, 
	.post
	{
		width:100%;
	}

.postContent,
.results{
	width:62.5%;
	}
	

/*
	.postContent
	{
		width:62.5%;
	}
	
	.results{
		width:55.3%;	
	}
*/

	.dateContent{
		width:15%;
		min-height:1em;
	}

	.tagContent{
		width:15%;
		min-height:1em;
	}
	.wrap,
	.dateContent p,
	.dateContent time,
	.tagContent ul{
		margin:auto;
	}


	/*-- FLOATS -----------------------------*/

	.mainContent .postContent img,
	header .postContent,
	.link .postContent,
	.quote .postContent,
	.photo .postContent,
	.photoset .postContent,
	.dateContent, 
	.tagContent,
	.hangout,
	.results,
	.tags,
	.post,
	.btnNav,
	.btnNav a,
	.blendInfo,
	.pageCount,
	.postContent,
	.mainContent,
	footer,
	footer .legals,
	h1{	
		float:left;
	}	 

	.dateContent time,
	.dateContent .reblog
	{
		float:right;
	}

	.about,
	.blend {
		float:none;
	}

	footer,
	footer .legals,
	.post, 
	.results,
	.pageCount,
	.photo figure figcaption,
	.photoset figure figcaption,
	.video figure figcaption
	{
		clear:left;
	}

	.dateContent time,
	.dateContent .reblog {
		clear:right;
	}

	/*-- DISPLAY -----------------------------*/

	code,
	.chat b,
	.pageCount,
	.btnNav,
	.reblog_button,
	.wrap,
	.mainContent,
	.dateContent time,
	.dateContent .reblog,
	.results, 
	figcaption,
	footer .legals,
	.odd b, 
	.even b, 
	.video iframe, 
	.video figcaption, 
	.post, footer, 
	.quote figure blockquote,
	.quote figure figcaption,
	.postContent figcaption small,
	.tagContent li
	{
		display:block;
	}

	#audio_player_51415801954{
		display:inline;
	}

	.reblog_button svg,
	#dashboard_iframe,
	#xpm0-hide,
	#iframe_controls,
	.version_pill,
	.controls_pill,
	#tumblr_controls {
		visibility: hidden;
		display: none !important;
	}

	/*-- OVERFLOW -----------------------------*/

	.photo .postContent,
	.photoet .postContent,
	.text .postContent
	{
		overflow:hidden;
	}

	.about,
	.blend{
		overflow:visible;
	}

	/*-- BASELINE -----------------------------*/

	.mainContent
	{
		margin:2.6em 0 0 0;
	}

	.text .dateContent,
	.link .dateContent,
	.photo .dateContent,
	.photoset .dateContent,
	.audio .dateContent,
	.video .dateContent,
	.quote .dateContent,
	.chat .dateContent,
	.link .tagContent,
	.photo .tagContent,
	.photoset .tagContent,
	.quote .tagContent,
	.audio .tagContent,
	.video .tagContent
	{
		padding:1em 0 0;
	}

	.text .tagContent {
		padding:4.3em 0 0;
	}

	.chat .tagContent {
		padding:2.6em 0 0;
	}

/*
.text .postContent img{
	margin:1.3em 0 0.32em;
	}
	*/

	.tumblr_blog
	{
		padding-top:0.5em;
	}	

	.photo figcaption,
	.photoset figcaption
	{
		padding:0.25em 0 1em;
	}

	.quote .postContent figure figcaption
	{
		padding:2em 0 0;
	}


	.link blockquote p{
		padding:1em 0 0 0;
	}

	footer .postContent
	{
		padding-top:2em;
		padding-bottom: 1.5em;
	}

	.dateContent p,
	.dateContent time
	{
		padding:0.2em 3em 0 0;
	}

	footer .legals{
		margin-top: 9em;
	}

	.text,
	.photo,
	.chat,
	.link,
	.audio,
	.video
	{
		margin:0 0 5em 0;
	}

	.quote
	{
		margin:0.55em 0 5em 0;
	}

	.dateContent .reblog
	{
		margin-top:0.85em;
	}

	.chat b{
		padding-top:0.8em;
	}

	header .postContent{
		display:block;
		margin-bottom:3em;
	}

	/*
	header nav{
	padding-top:15px;
	}
	*/

	.mainContent .postContent ul{
		padding-top:0.55em;
	}

	.mainContent .chat .postContent li{
		padding: 0.25em 0 0.25em;
	}

	.mainContent .postContent p
/*
,
.photo .postContent figure figcaption p,
.photo .postContent figure figcaption div,
.video .postContent figure figcaption p,
.video .postContent figure figcaption div
*/
{
	padding-top:1rem;
}

.photo figure figcaption,
.photoset figure figcaption,
.video figure figcaption,
.mainContent .quote .postContent figcaption p,
.photo .postContent figure figcaption blockquote p,
.photo .postContent figure figcaption blockquote div
.video .postContent figure figcaption blockquote p,
.video .postContent figure figcaption blockquote div,
.photoset .postContent figure figcaption blockquote p,
.photoset .postContent figure figcaption blockquote div
{
	padding-top:0;
}

.mainContent .quote .postContent figcaption p:last-child,
.mainContent .postContent li,
.photo figure figcaption,
.photoset figure figcaption,
.video figure figcaption
{
	padding-bottom:0;
}

.photo .postContent figure figcaption blockquote p:last-child,
.photo .postContent figure a{
	padding:0;
}

.mainContent .quote .postContent figcaption,
.mainContent .quote .postContent figcaption p,
.photo .postContent figure a{
	margin:0;
}

.mainContent .postContent ul li{
	padding-bottom: 1em;
}

.audioCredits{
	padding-bottom: 1.6em;
}

.inlineAudio{
	margin: 1.2em 0 0.5em 0;
}

.mainContent .quote .postContent figcaption {
	padding-top: 1.3em;
}

.mainContent .quote .postContent figcaption p {
	padding-bottom: 1.3em;
}


.mainContent .postContent .singleFile ul li{
	padding-bottom: 0 !important;
}

.results{
	margin-left:18.5%;
	padding: 1em 0;
}

.resultTag{
	background-color: yellow;
}	


/*-- GUTTERS -------------------------------*/
/*
.postContent{
	padding-left:0 30px 0 0;
}
*/

/*-- MARGIN -------------------------------*/

footer .legals,
.fig,
.quote .postContent figure,
.postContent h1,
.postContent h2,
.postContent p,
.postContent ul
{
	margin-left: 30px;
}

.quote .postContent figure,
.postContent h1,
.postContent h2,
.postContent p,
.postContent ul
{
	margin-right: 60px;
}

.photo .postContent blockquote,
.link_og_blockquote{
	margin-left: 55px;
	margin-top: 3px;
	padding-top: 5px;
	padding-bottom:5px;
	padding-left:20px;
	padding-right:60px;
}


/*-- OPTICAL CORRECTIONS ------------------*/

.quote figure blockquote{
	margin-top: -0.22em;
}





/*
.ordinal,
header .about p {
	padding-top: 0.85em;
}
*/

.ordinal{
	margin-right: -0.2em;
}

/*

.blendInfo {
	margin-left: -0.65em;
	padding: 0.05em 0.3em 0 0;
}
*/

.blogInfo .italic{
	padding-right: 0.08em;
	padding-left: 0.08em;
}

/*
.blend{
	margin-left:0.5em;
}
*/
/*
header .blogInfo{
	margin-top: -0.1em;
}
*/
.fig{
	padding-top: 0.5em;
}

.c1{
	margin-left:-0.06em
}
.c2{
	margin-left: -0.037em;
	margin-right: 0.004em;
}
.c5{
	margin-left: -0.084em;
}
.c9{
	margin-left:-0.025em;
	margin-right: 0.005em;
}




/*-- BUTTONS  -----------------------------*/

.btnNav{
	border:solid #184b12;
	border-width: 1px 1px 1px 0;
}

.btnTask a{
	border:solid #184b12;
	border-width: 1px;
	padding: 8px 10px 8px 11px;
}

.btnTask a:hover,
.reblog_button:hover:after,
.btnNav a:hover,
.followBtn p a:hover {
	background-color: #184b12;
	color: white;
}

.btnNav a{
	padding: 0 6px 25px 30px;
	color: #184b12;
}

.followBtn p a{
	border:#184b12 1px solid;
	overflow: visible;
}

.reblog_button{
	width: inherit !important;
}

.reblog_button:after {
	content: 'REBLOG';
	border:#184b12 1px solid;
}

.followBtn p a{
	padding:6px 7px 8px 10px;
}

.reblog_button:after {
	padding: 6px 8px 8px 10px;
}

.followBtn{
	margin-top: 45px;
}

.reblog_button{
	margin-top:42px;
}


/* prepend /append */

.postLink::before{
	content: "\25ba";
	/*
	padding: 0 18px 0 0;
	*/
	float:left;
	font-size: 0.75em;
	margin-left:-31px;
	font-family: 'rice';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
}

.post .tagContent li::before{
	content: "\0023";
	padding: 0 0.15em 0 0;
}

.quote .postContent figure figcaption::before{
	content: "\2014";
	margin-left: -1.3em;
	font-size: 1em;
	display: inline;
	padding: 0 0.45em 0 0;
	float: left;
}

/*
.reblogBtn,
.followBtn,
.tagContent ul,
.postInfo{
	padding-left: 20px;
}
*/


.tagContent{
	margin-left: 20px;
}


.photo .postContent figcaption blockquote{
	margin-top: 0.45em;
}

.pdf:after{
	content: "&#9639;";
	margin-left: 3px;
	padding-left: 3px;
}

.postNumber{
	letter-spacing: 0.08em;
}


/*
.blendInfo{
	display: inline;
}
*/
.numberSlash{
	/*
	padding-top: 0.1em;
	*/
	display: inline;
}

.numberSlash:before,

.blendNumber:before{
	content: "\2014";
	/*
	content: '—';
	*/
}
.blendNumber{
	display: block;
}


/*
.blendNumber {
	display: block;
}

.blendNumber:before{
	content: '\2014';
}
*/

.postContent p.btnNav{
	margin: 0;
	}



/* Pull quotes, hanging punctuation  */

/*
.quote figure blockquote{
	font-size: 2.45em;
	line-height: 1.11em;
	letter-spacing: -0.025em;
	font-style: normal;
	font-weight: normal;
	}
	*/

	blockquote.short,
	blockquote.medium{
		font-size: 2.45em;
		line-height: 1.11em;
		letter-spacing: -0.025em;
		font-style: normal;
		font-weight: normal;
	}


	blockquote.long{
		font-size: 2.45em;
		line-height: 1.11em;
		letter-spacing: -0.025em;
		font-style: normal;
		font-weight: normal;
	}

	.long .hangout {
		/*
		padding: 7px 0px 0 0;
		margin-left: -0.44em;
		*/
	}

	.medium .hangout,
	.short .hangout {
		padding: 7px 0px 0 0;
		margin-left: -0.44em;	
	}

	.quoteDouble{
		display: inline;	
	}

	.quoteSingle{
		display: none;
	}


/* EXTERNAL */
@font-face {
	font-family: 'rice';
	src:url('../font/rice.eot') format('eot');
	src:url('../font/rice.eot?#iefix') format('embedded-opentype'),
	url('../font/rice.woff') format('woff'),
	url('../font/rice.ttf') format('truetype'),
	url('../rice.svg#rice') format('svg');
	font-weight: normal;
	font-style: normal;
	}

@font-face {
	font-family: 'icomoon';
	src:url('../font/icomoon.eot');
	src:url('../font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../font/icomoon.woff') format('woff'),
		url('../font/icomoon.ttf') format('truetype'),
		url('../font/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


	.riceIcons {
		font-family: 'rice';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
	}

	.mooIcons {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	}



	/* Audio Player */ 

	.tumblr_audio_player,
	.tumblr_audio_player_51425135337,
	.audio_player,
	.audio_player_iframe,
	.audio_player_container .audio_player,
	.audio_player_container.has_visualizer .audio_controls,
	.audio_player.grey,
	.audio_visualizer,
	.album_art_container,
	.audio_player_container,
	.placeholder
	.has_visualizer {
		background-color: red;
		height:80px;
		width: 300px;
		font-family: georgia;
		color: blue;
	}
	.audio_equalizer{
		display: none;
	}
	li.track_name{
		font-weight: normal;
		text-transform: uppercase;
	}




header .about{
	margin-top: 0.8em;

}




.followBtn,
.reblog_button,
header .about,
/*
 header h1,

.post:first-child .postContent */
.postContent,
.tagContent,
.dateContent
{
	/*
	-webkit-transition:all;
*/
	-webkit-transition-property: margin-top;

	-webkit-transition-duration: 0.4s;
	-webkit-transition-timing-function:ease;
	/*-webkit-transition-delay: 0.15s;*/
	}



/*
-webkit-transition-property: margin-top;
*/

.blendWord:before {
content: "\25CF";
font-family: 'rice', georgia;
float: left;
clear: right;
display: inline;
margin-left: -22px;
margin-top: 2px;
}


.postWord:before{
content: "\e601";
font-family: 'rice', georgia;
float: left;
clear: right;
display: inline;
margin-left: -22px;
margin-top: 2px;
}



.blendNumber,
.postNumber{
	font-size: 0.92em;
}

abbr{
	background-color: red;
}

.blogInfo{
	background: none;
}