/*-- Tablet -----------------------------------------------------------*/


body
	{
	margin-left: 16px;
	margin-right: 0;
	font-size:106%;
	padding: 0;
	}

html>body
	{
	font-size: 17px; 
	}


header .dateContent,
footer .dateContent,
.quote .dateContent,
.text .dateContent,
.link .dateContent,
.photo .dateContent,
.photoset .dateContent,
.audio .dateContent,
.chat .dateContent,
header .tagContent,
footer .tagContent,
.quote .tagContent,
.text .tagContent,
.link .tagContent,
.photo .tagContent,
.photoset .tagContent,
.audio .tagContent,
.chat .tagContent
	{
	width:14%;
	float:left;
	text-align: left;
	opacity: 1;
	}



.tagContent ul,
.dateContent p, 
.dateContent time,
.footer-links, 
.dateContent .reblog
	{
	text-align: left;
	float: left;
	}



header .postContent,
footer .postContent,
.quote .postContent,
.text .postContent,
.link .postContent,
.photo .postContent,
.photoset .postContent,
.video .postContent,
.audio .postContent,
.chat .postContent
	{
	float: right;
	width: 83%;
	display: inline;
	}
	


header .tagContent nav ul,
.tagContent ul{
	padding-left:0;
	}

header .tagContent li{
	display: block;
	width: 100%;
	}

.hangout{
	padding: 1px 0 0 0;
	font-size: 1.3em;
	margin-left: -0.45em;
	}

/* RESET */

header .blendNumber,
header .blend {
	margin: 0;
}

.reblogBtn,
.postInfo,
.followBtn,
.postContent {
	padding: 0px;
	}


/* Left padding */

header .tagContent{
	padding-left: 0;
	}

h2,
header .postContent h1,
footer .legals,
.postContent ol,
.chat .postContent li,
.quote .postContent figure blockquote,
.quote .postContent figure figcaption,
.mainContent .chat .postContent ul,
.mainContent .chat .postContent ol,
.link .postContent p,
.link .postContent ul,
.link .postContent p .tumblr_blog a,
.text .postContent p,
.chat .postContent p,
.audio .postContent p,
.video .postContent p
	{
	}

.link .postContent blockquote{
	padding-right:30px;
	}

.mainContent .postContent ul,
.mainContent .postContent ol {
	padding-left: 3.65em;
	}

.text, .photo, .chat, .link, .audio, .video {
margin: 0 0 5em 0;
}


/* TAG CONTENT */
.link .tagContent,
.chat .tagContent,
.photo .tagContent,
.photoset .tagContent,
.text .tagContent,
.quote .tagContent,
.audio .tagContent
	{
	padding-top:0;
	}

.postContent{
	border-right:none;	
	}


.blendInfo{
	display: none;
	}

header .dateContent,
.copyLong
	{
	display:none;
	}

.reblog,
ul.tags
	{
	padding: 0.85em 0 0 0;
	}

.followBtn {
	margin-left: 0px;
	margin-top: 56px;
	}

.results{
	margin-left:17%;
	}


.quoteDouble{
	display: inline;	
	}

.quoteSingle{
	display: none;
	}


.audio .postContent p, 
.text .postContent p, 
.link .postContent p, 
.quote .postContent figure figcaption, 
.photo .postContent figure figcaption p, 
.photo .postContent figure figcaption div, 
.video .postContent figure figcaption p, 
.video .postContent figure figcaption div {
	width:auto;
}



.wrap{
	display: block;
}


header .postContent{
	display:block;
}


.numberSlash{
	display: block;
}	

.blendNumber:before,
.numberSlash:before{
	content: '—';
}



.blendNumber{
	display: block;
}